@page
@model NET_RazorPages.Pages.AddResearchModel
@{
    ViewData["Title"] = "Add Research";
}


<h1> Add Research</h1>

<form method="post">
    @* Title,Author,DateReleased,Url,Pages *@
    <div class="form-group">
        <label asp-for="Research.Title" class="col-form-label"></label>
        <input type="text" asp-for="Research.Title" placeholder="Research title" class="form-control" />
        <span asp-validation-for="Research.Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Research.Author" class="col-form-label"></label>
        <input type="text" asp-for="Research.Author" placeholder="Research author" class="form-control" />
        <span asp-validation-for="Research.Author" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Research.Url" class="col-form-label"></label>
        <input type="url" asp-for="Research.Url" placeholder="Research url" maxlength="50" class="form-control" />
        <span asp-validation-for="Research.Url" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Research.Pages" class="col-form-label"></label>
        <input type="text" asp-for="Research.Pages" placeholder="12" class="form-control" />
        <span asp-validation-for="Research.Pages" class="text-danger"></span>
    </div>
    <button type="submit" class=" btn btn-primary">Submit</button>

</form>